@font-face {
    font-family: 'Metal Lord';
    src: url('MetalLord-Regular.woff2') format('woff2'),
        url('MetalLord-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

