@font-face {
  font-family: 'Avenir-Black';
  src: url('../assets/fonts/Avenir/Avenir-Black.eot');
  src: url('../assets/fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Avenir/Avenir-Black.woff2') format('woff2'),
       url('../assets/fonts/Avenir/Avenir-Black.woff') format('woff'),
       url('../assets/fonts/Avenir/Avenir-Black.ttf') format('truetype'),
       url('../assets/fonts/Avenir/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../assets/fonts/Avenir/Avenir-Book.eot');
  src: url('../assets/fonts/Avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Avenir/Avenir-Book.woff2') format('woff2'),
       url('../assets/fonts/Avenir/Avenir-Book.woff') format('woff'),
       url('../assets/fonts/Avenir/Avenir-Book.ttf') format('truetype'),
       url('../assets/fonts/Avenir/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../assets/fonts/Avenir/Avenir-Heavy.eot');
  src: url('../assets/fonts/Avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Avenir/Avenir-Heavy.woff2') format('woff2'),
       url('../assets/fonts/Avenir/Avenir-Heavy.woff') format('woff'),
       url('../assets/fonts/Avenir/Avenir-Heavy.ttf') format('truetype'),
       url('../assets/fonts/Avenir/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-HeavyOblique';
  src: url('../assets/fonts/Avenir/Avenir-HeavyOblique.eot');
  src: url('../assets/fonts/Avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Avenir/Avenir-HeavyOblique.woff2') format('woff2'),
       url('../assets/fonts/Avenir/Avenir-HeavyOblique.woff') format('woff'),
       url('../assets/fonts/Avenir/Avenir-HeavyOblique.ttf') format('truetype'),
       url('../assets/fonts/Avenir/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('../assets/fonts/Avenir/Avenir-Light.eot');
  src: url('../assets/fonts/Avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Avenir/Avenir-Light.woff2') format('woff2'),
       url('../assets/fonts/Avenir/Avenir-Light.woff') format('woff'),
       url('../assets/fonts/Avenir/Avenir-Light.ttf') format('truetype'),
       url('../assets/fonts/Avenir/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../assets/fonts/Avenir/Avenir-Medium.eot');
  src: url('../assets/fonts/Avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Avenir/Avenir-Medium.woff2') format('woff2'),
       url('../assets/fonts/Avenir/Avenir-Medium.woff') format('woff'),
       url('../assets/fonts/Avenir/Avenir-Medium.ttf') format('truetype'),
       url('../assets/fonts/Avenir/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
    font-family: 'Neuland Grotesk';
    src: url('../assets/fonts/Neuland/NeulandGroteskBold.woff2') format('woff2'),
        url('../assets/fonts/Neuland/NeulandGroteskBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuland Grotesk Condensed';
    src: url('../assets/fonts/Neuland/NeulandGroteskCondensedBold.woff2') format('woff2'),
        url('../assets/fonts/Neuland/NeulandGroteskCondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuland Grotesk Condensed';
    src: url('../assets/fonts/Neuland/NeulandGroteskCondensedLight.woff2') format('woff2'),
        url('../assets/fonts/Neuland/NeulandGroteskCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuland Grotesk Condensed';
    src: url('../assets/fonts/Neuland/NeulandGroteskCondensedRegular.woff2') format('woff2'),
        url('../assets/fonts/Neuland/NeulandGroteskCondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuland Grotesk';
    src: url('../assets/fonts/Neuland/NeulandGroteskLight.woff2') format('woff2'),
        url('../assets/fonts/Neuland/NeulandGroteskLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuland Grotesk';
    src: url('../assets/fonts/Neuland/NeulandGroteskRegular.woff2') format('woff2'),
        url('../assets/fonts/Neuland/NeulandGroteskRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

